.collapsible-tilte{
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1023px;
    max-height: 47px;
    color: white;
    align-items: center;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight:500;
    padding: 0.5rem;
    margin-top: 30px;
}
.content{
    width: 100%;
    max-width: 1023px;
    background-color: #f6f6f6;
    color: #ff6060;
    padding: 0.5rem;
    margin-bottom: 3px;
}
.kasa-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width:550px){
    .kasa-apropos>.kasa-banner, .kasa-apropos h1{
        height: 223px;
    }
    .collapsible-tilte{
        max-height: 30px;
        font-size: 13px;
    }
    .content{
        font-size: 13px;
    }
}