
.kasa-img-banner{
  max-width: 1240px;
  width: 100%;
  height: 223PX;
  border-radius: 25px;
  object-fit: cover;
  align-items: center;
}
.kasa-bodys{
  width: 100%;
  max-width: 1240px;
    
}

.kasa-err{
  color: #ff6060;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kasa-err h1 {
  font-size: 288px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}
.kasa-err h2 {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
font-size: 36px;
}
.kasa-err a {
  margin-top: 182px;
  font-family: 'Montserrat', sans-serif;
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
}

.kasa-banner{
  mix-blend-mode:luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
}
.kasa-banner h1{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 25px;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.kasa-homeBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
}
.about-content{
  max-width: 1240px;
  padding: auto;
  margin:43px 100px 43px 100px;
}