.kasa-gallery{
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-top: 43px;
    padding-top: 31px;
    padding-bottom: 31px;
    
}

.kasa-card{
    max-width: 340px;
    max-height: 340px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(0, 0, 0,0.2);
    padding: 0;
    margin: 25px;
}
.card-img{
 object-fit: cover;
 object-position: center;
 max-width: 340px;
 min-height: 340px;
 border-radius: 10px;
 mix-blend-mode: multiply;
}
.card-title{
    position: absolute;
    align-self: flex-end;
    max-width: 340px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-family: 'Montserrat';
}
@media (max-width:550px){
    .kasa-gallery{
       background-color: unset; 
       margin-top: 0;
       padding-top: 20px;
       padding-bottom: 0;
    }
    .kasa-card,.card-img,.card-title{
        max-width: 335px;
        max-height: 255px ;
    }
    .card-img{
        min-height: 255px;
    }
    .kasa-card{
        margin: 0;
        margin-bottom: 20px;
    }
}