.kasa-header{
    
    margin-bottom: 5.6%;
    display: flex;
    color: #FF6060;
    justify-content: space-between;
    width: 100%;
}
.kasa-logohead{
    width: 210px;
    height: 68px;
}
.link {
    text-decoration: none;
    color: #FF6060;
    padding-left: 57px;
}
.kasa-nav {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.currentpath{
    text-decoration:underline;
    color: #FF6060;
    padding-left: 57px;
}
@media (max-width:550px) {
    .kasa-header{
        max-width: 335px;
    }
    .kasa-logohead{
        width: 145px;
        height: 47px;
    }
    .kasa-nav{
        font-size: 12px;
    }
    .kasa-header a{
        padding-left: 10px;
    }
}