
.kasa-banner{
    mix-blend-mode:luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
  }
  .kasa-banner h1{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 25px;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
  }
  .kasa-homeBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.kasa-gallery{
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-top: 3.5%;
    padding-top: 2.6%;
    padding-bottom: 2.6%;
    
}

.kasa-card{
    max-width: 340px;
    max-height: 340px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(0, 0, 0,0.2);
    padding: 0;
    margin: 25px;
}
.card-img{
 object-fit: cover;
 object-position: center;
 max-width: 340px;
 min-height: 340px;
 border-radius: 10px;
 mix-blend-mode: multiply;
}
.card-title{
    position: absolute;
    align-self: flex-end;
    max-width: 300px;
    margin: 0.9%;
    color: white;
    font-size: 18px;
}
@media (max-width:550px){
    .kasa-gallery{
       background-color: unset; 
       margin-top: 0;
       padding-top: 5%;
       padding-bottom: 0;
    }
    .kasa-card,.card-img,.card-title{
        max-width: 335px;
        max-height: 255px ;
    }
    .card-img{
        min-height: 255px;
    }
    .kasa-card{
        margin: 0;
        margin-bottom: 6%;
    }
    .kasa-banner{
        height: 111px;
      } 
      .kasa-banner>h1{
        height: 111px;
        font-size: 24px;
      }
}